/* Estilos globais com tema Dracula */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #282a36;
  color: #f8f8f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Centralizar e estilizar o título */
h1 {
  color: #bd93f9;
  margin: 0;
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #50fa7b;
}

a:hover {
  color: #8be9fd;
}

input[type="text"], input[type="submit"] {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #6272a4;
  background-color: #44475a;
  color: #f8f8f2;
}

input[type="submit"] {
  background-color: #50fa7b;
  color: #282a36;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #8be9fd;
}

/* Estilo da classe content */
.content {
  background-color: #44475a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

/* Tabela de tarefas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #6272a4;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #bd93f9;
  color: #282a36;
}

td {
  background-color: #44475a;
  color: #f8f8f2;
}

td a {
  margin-right: 10px;
}

/* Ajustes no input do formulário */
input[type="text"] {
  width: calc(100% - 22px);
}

/* Responsividade */
@media (max-width: 600px) {
  .content {
      width: 90%;
  }

  table {
      font-size: 14px;
  }
}
